
  

<!-- main app container -->
<div class="app-container" fxLayout="column" fxLayoutAlign="start center">
    <mat-toolbar color="primary" class="app-header">
        <span><img src="./../assets/MyAuthLogo.png" class="logo"></span>
        <span class="nav-tool-items">
          <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
          <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
        </span>
    </mat-toolbar>
    <router-outlet fxFlexOffset="20px" #outlet="outlet"></router-outlet>
</div>


<!-- credits -->
<!-- <div class="text-center mt-4">
    <p>
        <a href="https://jasonwatmore.com/post/2020/07/18/angular-10-user-registration-and-login-example-tutorial" target="_top">Angular 10 - User Registration and Login Example & Tutorial</a>
    </p>
    <p>
        <a href="https://jasonwatmore.com" target="_top">JasonWatmore.com</a>
    </p>
</div> -->