/* You can add global styles to this file, and also import other style files */
a { cursor: pointer }

html{
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #e2e2e2;
  background: url("./assets/MyAuthSplashWallpaper.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.outlet{
  display:flex;
  flex-direction:column;
  height:100%;
}

.box {
  opacity: 1;
  width: 30em;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
}

.box.back {
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  top: -20px;
  opacity: .8;
  z-index: -1;
}

.box:before {
  content: "";
  width: 100%;
  height: 30px;
  border-radius: 10px;
  position: absolute;
  top: -10px;
  background: rgba(255, 255, 255, 0.6);
  left: 0;
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  z-index: -1;
}

.warn {
  color: #CB0F0F;
}

.basic-input{
  font-size: 15px;
  height:3em;
  width:80%;
}

.success-snackbar button{
  background-color: #C2185B;
  color: white !important;
  border: none;
}

.failure-snackbar button {
  background-color: #CB0F0F;
  color: white !important;
  border: none;
}


.face-modal .mat-dialog-container{
  //background-color:black!important;
  padding: 0 0!important;
}

.flash{ 
  position:fixed; 
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#fff;
  display: inline-block;
  margin: 0;
  z-index: 20!important;
}

.hidden {
  display:none;
}

.loading{
  position: absolute;
  margin: auto auto;
  left: 0;
  right: 0;
  top: 45%;
  bottom: 0;
  text-align: center;
  z-index: 10!important;
  font-size:xx-large;
  font-weight: 700;
  color: black;
  white-space: nowrap;
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}